.title {
  font-family: monospace;
  text-align: center;
  font-size: 36.5px;
  border-style: dashed;
  border-width: 5px;
}

.big {
  font-size: 36.5px;
}

.medium {
  font-size: 21px;
}

.small {
  font-size: 12px;
}

.red {
  font-family: monospace;
  color: #ff005d;
}

.scarlet {
  font-family: monospace;
  color: #FF2400;
}

.orange {
  font-family: monospace;
  color: #ffa200;
}

.yellow {
  font-family: monospace;
  color: #fff200;
}

.lime {
  font-family: monospace;
  color: #a6ff00;
}

.green {
  font-family: monospace;
  color: #03fc4e;
}

.seafoam {
  font-family: monospace;
  color: #0dffaa; 
}

.blue {
  font-family: monospace;
  color: #03dffc;
}

.navy {
  font-family: monospace;
  color: #000080;
}

.button {
  padding: 10px 40px;
  border-radius: 8px;
  transition-duration: 0.2s;
  border-color: #DC143C;
  background-color: white;
}

.button:hover {
  background-color: red;
  border-color: #F8F8FF;
  color: white;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
