.title {
  font-family: monospace;
  text-align: center;
  font-size: 36.5px;
  border-style: dashed;
  border-width: 5px;
  font-weight: 700;
}

.monospace {
  font-family: monospace;
}

.big {
  font-size: 36.5px;
  font-weight: 700;
  font-family: monospace;
}

.medium {
  font-size: 21px;
  font-weight: 700;
  font-family: monospace;
}

.small {
  font-size: 12px;
  font-weight: 700;
  font-family: monospace;
}

/* Colors */
.black {
  font-family: monospace;
  color: #3d3d3d;
  font-weight: 700;
}

.white {
  font-family: monospace;
  color: #ffffff;
  font-weight: 700;
}

.red {
  font-family: monospace;
  color: #ff005d;
  font-weight: 700;
}

.scarlet {
  font-family: monospace;
  color: #FF2400;
  font-weight: 700;
}

.orange {
  font-family: monospace;
  color: #ffa200;
  font-weight: 700;
}

.flare {
  font-family: monospace;
  color: #ffb300;
  font-weight: 700;
}

.yellow {
  font-family: monospace;
  color: #fff200;
  font-weight: 700;
}

.lime {
  font-family: monospace;
  color: #a6ff00;
  font-weight: 700;
}

.green {
  font-family: monospace;
  color: #03fc4e;
  font-weight: 700;
}

.seafoam {
  font-family: monospace;
  color: #0dffaa; 
  font-weight: 700;
}

.blue {
  font-family: monospace;
  color: #03dffc;
  font-weight: 700;
}

.navy {
  font-family: monospace;
  color: #000080;
  font-weight: 700;
}

.purple {
  font-family: monospace;
  color: #8d42f5;
  font-weight: 700;
}

.dream {
  font-family: monospace;
  color: #c242f5;
  font-weight: 700;
}

.pink {
  font-family: monospace;
  color: #f542ef;
  font-weight: 700;
}
/* Colors */

/* Buttons */
.button {
  padding: 10px 40px;
  border-radius: 8px;
  transition-duration: 0.2s;
  border-color: #DC143C;
  background-color: white;
  font-weight: 700;
  font-family: monospace;
}

/*
.button:hover {
  background-color: red;
  border-color: #F8F8FF;
  color: white;
  font-weight: 700;
}
*/
/* Buttons */

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  font-weight: 700;
}

.input {
  border-color: #ff005d;
  caret-color: #ff005d;
  padding: 10px 40px;
  font-family: monospace;
  font-weight: 700;
  margin: 8px 0;
}

.select {
  font-weight: 700;
  border-color: #ff005d;
  border-width: 4px;
  padding: 10px 40px;
  font-family: monospace;
  background-color: white;
  border-radius: 8px;
}

.option {
  font-weight: 700;
  border-color: #ff005d;
  border-width: 4px;
  font-family: monospace;
  padding: 10px 40px;
  background-color: white;
  border-radius: 8px;
}

.link:link { /* Link Unvisited */
  color: #ff1c4d;
}

.link:visited { /* Link Visited */
  color: #1500ff;
}

.link:hover { /* Not Sure */
  color: #8a0039;
}

.link:active { /* Not Sure */
  color: #9c0039;
}

div.notice {
  border-left-style: solid;
  border-left-color: #ff005d;
  border-left-width: 8px;
  background-color: #ffb5bf;
  height: 25px;
  width: 50%;
}

.notice-text {
  padding: 50px 0;
  color: #ffffff;
}
